@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Noto+Sans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --primary-green: #11d421;
  /* Keeping variable for backward compatibility if needed */
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-text-main dark:text-text-main-dark font-display antialiased;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}